---
layout: blank
title: "2020 Year in Review"
exclude: "true"
file-suffix: "twenty"
---

{% include hero.html %}

{% include speaking.html %}
{% include covid.html %}
{% include website.html %}

{% include by-the-numbers.html %}
{% include pixels.html %}
{% include data-consumed.html %}
{% include site-analytics.html %}
{% include music.html %}
{% include duolingo.html %}
{% include by-the-numbers-end.html %}

{% include leveled-up.html %}
<!-- {% include shine-registry.html %} -->

{% include slack-moji.html %}
{% include memoji.html %}
{% include drone-photography.html %}
{% include lastly.html %}
{% include in-person.html %}
