<section class="covid grid-container">
  <div class="grid-x">
    <div class="cell opener">
      <img src="img/covid-patch.png" alt="COVID-19 orange stitched patch illustration">
      <h2>I’d say I earned my TeleHealth + COVID-19 project patch</h2>
      <p>Around the world COVID-19 changed our day-to-day lives in many ways and in many parts of the world it still is. Working in healthcare, I have worked on many COVID-19 related projects for our frontline workers and their teams. Helping them better care for their patients.</p>
    </div>
  </div>
</section>
<div class="sash">
  <div class="grid-container">
    <div class="cell grid-x patch-container align-center">
      <div class="cell small-7 large-4">
        <img src="img/contact-tracing-patch.png" alt="Contact Tracing stitched patch illustration">
      </div>
      <div class="cell small-7 large-4">
        <img src="img/safar-patch.png" alt="Safar TeleCare stitched patch illustration">
      </div>
      <div class="cell small-7 large-4">
        <img src="img/teleconsult-patch.png" alt="TeleConsult stitched patch illustration">
      </div>
    </div>
  </div>
</div>
