<section class="data-consumed grid-container">
    <div class="cell data-container grid-x align-center">
      <div class="cell title">
        <h2>8969</h2>
        <p>gigabytes of data consumed</p>
      </div>
      <div class="calendar cell grid-x grid-margin-x grid-margin-y">

        {% assign giga-array = "(Jan 396),(Feb 397),(Mar 729),(Apr 944),(May 799),(Jun 628),(Jul 674),(Aug 855),(Sep 1467),(Oct 792),(Nov 654),(Dec 632)" | remove: "(" | remove: ")" | split: ',' %}
        {% for month in giga-array %}
        <div class="calendar-cell cell small-6 medium-3">
          {% assign month-gig = month | split: ' ' %}
          <div class="header">
            <p>{{month-gig[0]}}</p>
          </div>
          <div class="body">
            <p class="number">{{month-gig[1]}}</p>
            <p class="gig">gigabytes</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</section>
