<section class="drone-photography">
  <div class="grid-container">
    <div class="grid-x grid-padding-x wrapper">
      <div class="cell grid-y small-12 medium-6 align-self-bottom left-col">
        <div class="cell text">
          <img class="drone" src="img/drone-icon.svg" alt="Drone Icon">
          <p class="title">Took my photography to new heights<sup>(Litterally)</sup></p>
        </div>
        <div class="cell">
          <img src="img/dji_0116.jpg" alt="Tiny planet photo pirate ship jungle gym">
        </div>
      </div>
      <div class="cell grid-y small-12 medium-6 align-self-bottom right-col">
        <div class="cell circle">
          <img src="img/dji_0219.jpg" alt="Top down fall foliage of a traffic circle">
        </div>
        <div class="cell">
          <img src="img/dji_0103.jpg" alt="Top down shot of a blue basketball court with fall foliage">
        </div>
      </div>
    </div>
  </div>
</section>
