<section class="duolingo grid-container">
    <div class="cell duolingo-container grid-x">
      <div class="cell small-6 medium-4 large-4 duo">
        <img src="img/duo.svg" alt="Duo the Duolingo owl jumping for joy">
      </div>
      <div class="cell small-12 large-8 text">
        <p class="minutes"><span>319</span>min</p>
        <p class="words"><span>654</span>words</p>
        <p class="sentance">Spent 319 minutes with Duo studying 654 words</p>
        <p class="footnote">*Duolingo learning stats as of Oct. 31, 2020</p>
      </div>
    </div>
</section>
