<footer class="content--canvas" id="footer-dim">
  <div class="grid-x grid-container align-justify no-select text-section">
    <div class="cell shrink">
        <h2><span>twenty</span> <span>twenty two</span></h2>
        <p>here we come</p>
    </div>
    <div class="cell shrink align-self-bottom">
      <div class="logo">
        <a target="_blank" rel="noopener" href="{{ site.mainurl }}/">
          <img src="{{'/img/rehanLogo.svg'| prepend: site.baseurl }}" alt="Rehan's Logo">
        </a>
      </div>
    </div>
  </div>
</footer>
