<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-P0WFC6V8Y0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-P0WFC6V8Y0');
</script> -->

<!-- <script src="/js/foundation.js" type="text/javascript"></script> -->
<script src="/js/app.js" type="text/javascript"></script>


<!-- For Magneto header animation -->
<script src="js/magneto/charming.min.js"></script>
<script src="js/magneto/anime.min.js"></script>
<script src="js/magneto/demo.js"></script>
<script src="js/magneto/demo1.js"></script>

<!-- For Swirl Animation -->
<script src="js/swirl/swirl.js"></script>
<script src="js/swirl/noise.min.js"></script>
<script src="js/swirl/util.js"></script>
