<header class="year-in-review">
  <div class="grid-x grid-container">
    <div class="grid-x align-justify">
      <div class="cell shrink">
        2021
      </div>
      <div class="cell shrink">
        <div class="logo">
          <a target="_blank" rel="noopener" href="{{ site.mainurl }}/">
            <img src="{{'/img/rehanLogo.svg'| prepend: site.baseurl }}" alt="Rehan's Logo">
          </a>
        </div>
      </div>
    </div>
    <div class="cell twenty-one-container">
      <h1 class="twenty-one">twenty twenty one</h1>
      <h2>Year in Review</h2>
    </div>
  </div>
</header>
