<header class="year-in-review">

  <nav class="nav-container">
    <div class="site-nav grid-x grid-container">

      <div class="menu-container cell large-12">

        <div class="logo">
          <a target="_blank" rel="noopener" href="{{ site.mainurl }}/">
            <img src="{{'/img/rehanLogo.svg'| prepend: site.baseurl }}" alt="Rehan's Logo">
          </a>
        </div>
      </div>

      <div class="cell large-12 twenty-container">
          <h1 class="twenty">20<br>20</h1>
          <h2>Year <br> in <br> Review</h2>
      </div>
    </div>
  </nav>

</header>
