<section class="joined grid-container">
  <div class="grid-x">
    <div class="spoken grid-x grid-margin-x">
      <div class="cell medium-6 adplist">
        <div class="cell image-container">
          <img src="/img/adplist.svg" alt="ADPList Logo">
        </div>
        <div class="cell">
          <p class="title">Joined Amazing Design People List as a mentor</p>
          <p class="description"> We gotta burn the rain forest, dump toxic waste, pollute the air, and rip up the OZONE! 'Cause maybe if we screw up this planet enough, they won't want it anymore!</p>
          <a target="_blank" rel="noopener" href="https://adplist.org/mentors/rehan-butt">
            <div class="explore-button">
              Book a Session
            </div>
          </a>
        </div>
      </div>
      <div class="cell medium-6 duq">
        <div class="cell image-container">
          <img src="/img/duq.svg" alt="Duquesne University Logo">
        </div>
        <div class="cell">
          <p class="title">Became adjunct faculty at Duquesne University</p>
          <p class="description"> We gotta burn the rain forest, dump toxic waste, pollute the air, and rip up the OZONE! 'Cause maybe if we screw up this planet enough, they won't want it anymore!</p>
          <a target="_blank" rel="noopener" href="https://www.dma331.rehanbutt.com">
            <div class="explore-button">
              Explore the Course
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
