<section class="lastly">
  <p class="full-bleed">& lastly</p>
  <div class="grid-container lastly-grid-container">
    <div class="cell lastly-container grid-x">
      <p class="blurb">with all the craziness of 2020 good things still came of it, lets keep that up!</p>
      <div class="cell emoji-container">
        <div class="emoji-left">
          <span class="emoji boom">🤯</span>
          <span class="emoji mask">😷</span>
        </div>
        <span class="emoji party">🥳</span>
      </div>
    </div>
  </div>
</section>
