{% assign left-skills = "Design Ops,Project Management,Systems Design,Mentoring,Process Design,Remote Research" | split: ',' %}

{% assign right-skills = "Design Ops,Project Management,Systems Design,Mentoring,Process Design,Remote Research" | split: ',' %}

<section class="leveled-up grid-container">
  <div class="grid-x align-middle">
    <div class="cell small-12 medium-auto left-skills">
      <div class="pill-container">
        {%- for skill in left-skills -%}
          <div class="pill">{{skill}}</div>
        {%- endfor -%}
        <div class="pill special">and many more!</div>
      </div>
    </div>  
    <div class="cell small-12 medium-shrink icon-container">
      <div class="shape-animation">
        <span class="large-shapes">
          <div class="large circle one"></div>
          <div class="large circle two"></div>
          <div class="large circle three"></div>
          <div class="large circle four"></div>
          <div class="large circle five"></div>
          <div class="large circle six"></div>
          <div class="large circle seven"></div>
          <div class="large circle eight"></div>
        </span>
        <span class="small-shapes">
          <div class="small circle one"></div>
          <div class="small square two"></div>
          <div class="small circle three"></div>
          <div class="small square four"></div>
          <div class="small circle five"></div>
          <div class="small square six"></div>
          <div class="small circle seven"></div>
          <div class="small square eight"></div>
        </span>
        <span class="middle-circle">
          <i class="fas fa-arrow-up"></i>
        </span>
      </div>
    </div>
    <div class="cell small-12 medium-auto right-skills">
      <div class="pill-container">
        {%- for skill in right-skills -%}
          <div class="pill">{{skill}}</div>
        {%- endfor -%}
        <div class="pill special">and many more!</div>
      </div>
    </div>
    <div class="cell align-center text-container">
      <h2>leveled up</h2>
      <p>leveled up a bunch more skills this year</p>
    </div>
  </div>
</section>
