<section class="leveled-up grid-container">
  <div class="grid-x">
    <div class="cell small-12 medium-shrink icon-container">
      <img src="img/leveled-up.svg" alt="Up Arrow">
    </div>
    <div class="cell small-12 medium-auto words-container">
      <h2>leveled up</h2>
      <p>leveled up a bunch more skills this year</p>
      <div class="pill-container">
        <div class="pill">Design Ops</div>
        <div class="pill">Project Management</div>
        <div class="pill">Systems Design</div>
        <div class="pill">Mentoring</div>
        <div class="pill">Process Design</div>
        <div class="pill">Remote Research</div>
        <div class="pill special">and many more!</div>
      </div>
    </div>
  </div>
</section>
