<section class="memoji">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y wrapper">
      <div class="cell small-12 large-5">
        <img src="img/memoji-computer.png" alt="Memoji of me on a video call">
      </div>
      <div class="cell small-12 medium-auto text-container">
        <img class="bubble video" src="img/video-bubble.svg" alt="Video Bubble Icon">
        <p>More video chats that I could have ever imagined</p>
        <img class="bubble chat" src="img/chat-bubble.svg" alt="Chat Bubble Icon">
      </div>
    </div>
  </div>
</section>
