{% capture punch-container %}
<div class="punch-container">
  <div class="punch"></div>
  <div class="punch"></div>
  <div class="punch"></div>
  <div class="punch"></div>
  <div class="punch"></div>
  <div class="punch"></div>
</div>
{% endcapture %}

<section class="movie">
  <div class="horizontal-scroll-section">
    <div class="scene">
      <div class="horizontal-scroll-section__content-wrapper wrapper">
        <div class="horizontal-scroll-section__content-section">
          {{ punch-container }}
          <div class="film">
          </div>
          {{ punch-container }}
        </div>
        <div class="horizontal-scroll-section__content-section">
          {{ punch-container }}
          <div class="film feature-number grid-x cell align-center align-middle">
            <div class="cell shrink">
              <p>watched</p>
              <p class="number">123</p>
              <p>feature films</p>
            </div>
          </div>
          {{ punch-container }}
        </div>
        <div class="horizontal-scroll-section__content-section">
          {{ punch-container }}
          <div class="film">
            <p>65 which were rewatches</p>
          </div>
          {{ punch-container }}
        </div>
        <div class="horizontal-scroll-section__content-section">
          {{ punch-container }}
          <div class="film">
            <h2>this is a header 2</h2>
            <h2>this is a header 2</h2>
            <h2>this is a header 2</h2>
          </div>
          {{ punch-container }}
        </div>
        <div class="horizontal-scroll-section__content-section">
          {{ punch-container }}
          <div class="film">
            <h2>this is a header 2</h2>
            <h2>this is a header 2</h2>
            <h2>this is a header 2</h2>
          </div>
          {{ punch-container }}
        </div>
        <div class="horizontal-scroll-section__content-section">
          {{ punch-container }}
          <div class="film">
            <h2>this is a header 2</h2>
            <h2>this is a header 2</h2>
            <h2>this is a header 2</h2>
          </div>
          {{ punch-container }}
        </div>
      </div>
    </div>
</div>
</section>