<section class="slack-moji">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y align-center">
      <div class="cell small-12 large-9 grid-x title-container align-center">
        <div class="cell small-12 medium-shrink">
          <img class="slack-icon" src="img/slack.png" alt="Slack Icon">
        </div>
        <div class="cell medium-7 large-auto align-self-middle">
          <h2 class="title"><span class="most">Most Used</span> <span class="emoji">Slack Emojis</span></h2>
        </div>
      </div>
    </div>
    <div class="grid-x grid-margin-x grid-margin-y">
      <div class="cell emoji-container thumbs-up small-6 medium-3 align-center">
        <span>👍</span>
      </div>
      <div class="cell emoji-container party-parrot small-6 medium-3">
        <img src="/img/party-parrot.gif" alt="Party Parrot Emoji">
      </div>
      <div class="cell emoji-container floor-laughing small-6 medium-3">
        <span>🤣</span>
      </div>
      <div class="cell emoji-container hoppy-goat small-6 medium-3">
        <img src="/img/hoppy-goat.gif" alt="Party Parrot Emoji">
      </div>
    </div>
  </div>
</section>
