<section class="speaking grid-container">
  <div class="grid-x">
    <div class="cell attended-title">
      <p class="main">Attended a bunch of <span class="inject">^<span>virtual</span></span> events this year</p>
      <p class="sub">learned some wonderful new things along the way</p>
    </div>
    <div class="attended grid-x grid-margin-x grid-margin-y align-justify align-middle">
      <div class="cell small-6 medium-shrink">
        <img src="/img/ces-logo.svg" alt="CES Logo">
      </div>
      <div class="cell small-6 medium-shrink">
        <img src="/img/ixda-logo.svg" alt="IXDA Logo">
      </div>
      <div class="cell small-6 medium-shrink">
        <img src="/img/intersection-logo.svg" alt="Intersection Logo">
      </div>
      <div class="cell small-6 medium-shrink">
        <img src="/img/chicagocamps-logo.svg" alt="Chicago Camps Logo">
      </div>
      <div class="cell small-6 medium-shrink">
        <img src="/img/uxhealthcare-logo.svg" alt="UX Healthcare Logo">
      </div>
      <div class="cell small-6 medium-shrink">
        <img src="/img/uxcamp-logo.svg" alt="UX Camps Logo">
      </div>
      <div class="cell small-6 medium-shrink">
        <img src="/img/productcamp-logo.svg" alt="Product Camp Logo">
      </div>
    </div>
    <div class="spoken grid-x grid-margin-x">
      <div class="cell section-title">
        <p>I also had the privledge to speak at a couple events</p>
      </div>
      <div class="cell medium-6 everything-app">
        <div class="cell image-container">
          <img class="apps" src="/img/apps2.svg" alt="App grid illustration">
        </div>
        <div class="cell">
          <p class="title">Why Does Everything Need an App?</p>
          <p class="description">Why is it that everything need an app from toasters to skateboards? During this talk we will discuss the ramifications of product organizations relying on companion apps and how that effects the user experience of their hardware product. How can we build companion apps that build on top of the already great experience of the product and the struggle that imposing between privacy great experience and business.</p>
          <a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=6nraNVPih9M&t=17s">
            <div class="talk-button">
              Watch the Talk
            </div>
          </a>
        </div>
      </div>
      <div class="cell medium-6 design-system grid-x">
        <div class="cell image-container">
          <img src="/img/shipit.svg" alt="Ship it sticker illustration">
        </div>
        <div class="cell">
          <p class="title">From Form Fields to Ship It: How not to Design System</p>
          <p class="description">Building a design system is very trendy, but when is it the right time to conceptualize, design and execute on a system for use across a product and an organization. Given the context of both new products and legacy products in the same ecosystem, this talk will explore the lessons learned and some best strategies for building a design system.</p>
          <a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=q5R9hmpvGUo&t=13s">
            <div class="talk-button">
              Watch the Talk
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
