.year-twenty-one{
  .page-content{
    overflow-x: hidden;
  }
  .year-in-review{
    margin-bottom: 0;
    .nav-container{
      background: linear-gradient(120deg, rgba(247,152,104,1) 0%, rgba(241,95,99,1) 100%);
      @media (prefers-color-scheme: dark) {
        background: linear-gradient(120deg, mix(rgba(247,152,104,1), $pure-black, 50%) 0%, mix(rgba(241,95,99,1),$pure-black,50%) 100%);
      }
      padding-bottom: 4em;
      padding-top: 3em;
      .logo{
        img{
          height: 50px;
        }
      }
    }
    .twenty-container{
      margin-top: 2em;
      margin-bottom: 2em;
    }
    .twenty{
      font-family: $zilla;
      font-size: 12em;
      font-weight: $zilla-bold;
      color: $pure-white;
      @media screen and (max-width: 40em) {
        font-size: 6em;
      }
      @media (prefers-color-scheme: dark) {
        color: $pure-white;
      }
    }
    h1{
      display: inline-block;
      line-height: 9rem;
      @media screen and (max-width: 40em) {
        line-height: 4rem;
      }
    }
    h2{
      display: inline-block;
      color: $pure-white;
      font-size: 5.5em;
      line-height: 6rem;
      font-weight: $zilla-light;
      margin-bottom: 0;
      margin-top: -2em;
      @media screen and (max-width: 40em) {
        font-size: 3em;
        line-height: 2.6rem;
      }
      @media (prefers-color-scheme: dark) {
        color: $pure-white;
      }
    }
  }

  .content-container{
    background-color: white;
    padding-top: 6rem;
    padding-bottom: 12rem;
    @media (prefers-color-scheme: dark) {
      background-color: #06080C;
      color: $pure-white;
    }
    @media screen and (max-width: 64em) {
      padding-top: 3rem;
    }
    @media screen and (max-width: 40em) {
      padding-top: 1.5rem;
    }
  }
  .hero{
    .hero-text{
      font-family: $zilla;
      font-size: 2.5em;
      line-height: 1.2em;
      text-align: justify;
      padding-left: 0;
      padding-right: 0;
      @media screen and (max-width: 64em) {
        padding-left: 1em;
        padding-right: 1em;
        font-size: 1.5em;
      }
      span{
        position: relative;
        span{
          display: none;
          position: absolute;
        }
      }
      .wow{
        .wow-react{
          display: block;
          width: 100%;
          opacity: 0.5;
          z-index: -1;
          font-size: 2em;
          text-align: center;
          margin-top: -25%;
        }
      }
    }
  }

  .shine-registry{
    margin-top: 15rem;
    margin-bottom: 6rem;
    .shine-container{
      overflow: hidden;
      position: relative;
      border-radius: 40px;
      padding: 4rem 4rem;
      background-color: #FFE6BA;
      font-family: $zilla;
      font-size: 3rem;
      line-height: 3.2rem;
      min-height: 50rem;
      -webkit-box-shadow: 0px 0px 100px 0px rgba($navy-black,0.25);
      -moz-box-shadow: 0px 0px 100px 0px rgba($navy-black,0.25);
      box-shadow: 0px 0px 100px 0px rgba($navy-black,0.25);
      @media (prefers-color-scheme: dark) {
        background-color: mix(#FFE6BA, $navy-black, 10%);
      }
      @media screen and (max-width: 64em) {
        min-height: 40rem;
        font-size: 2rem;
        line-height: 2.2rem;
      }
      @media screen and (max-width: 40em) {
        min-height: 25rem;
        padding: 2rem;
      }
      .label-container{
        z-index: 2;
        .description{
          margin-top: 1rem;
          font-weight: $zilla-regular;
          span{
            font-weight: $zilla-bold;
          }
          a{
            color: $navy-black;
            @media (prefers-color-scheme: dark) {
              color: $pure-white;
            }
          }
        }
      }
      .image-container{
        position: absolute;
        z-index: 3;
        width: 45%;
        border-radius: 20px;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 20px 0px rgba($navy-black,0.25);
        -moz-box-shadow: 0px 0px 20px 0px rgba($navy-black,0.25);
        box-shadow: 0px 0px 20px 0px rgba($navy-black,0.25);
        @media screen and (max-width: 64em) {
          border-radius: 10px;
        }
      }
      .shine-1{
        transform: rotate(15deg);
        top: 4rem;
        right: 12rem;
        @media screen and (max-width: 64em) {
          top: 6rem;
          right: 6rem;
        }
        @media screen and (max-width: 40em) {
          top: 13rem;
          right: 3rem;
        }
      }
      .shine-2{
        transform: rotate(-15deg);
        top: 18rem;
        left: 12rem;
        @media screen and (max-width: 64em) {
          top: 16rem;
          left: 6rem;
        }
        @media screen and (max-width: 40em) {
          top: 15rem;
          left: 3rem;
        }
      }
      .blue-blob, .peach-blob, .brick-blob{
        z-index: 1;
        @media screen and (max-width: 64em) {
          max-width: 30%
        }
        @media screen and (max-width: 40em) {
          max-width: 40%
        }
      }
      .blue-blob{
        position: absolute;
        top: -20%;
        left: 50%;
      }
      .peach-blob{
        position: absolute;
        bottom: 10%;
        left: -10%;
      }
      .brick-blob{
        position: absolute;
        right: -10%;
        bottom: 15%;
      }
    }
  }

  .duolingo{
    margin-top: 6em;
    margin-bottom: 3em;
    .duolingo-container{
      border-radius: 40px;
      padding: 4rem 4rem;
      background-color: $navy-black;
      -webkit-box-shadow: 0px 0px 100px 0px rgba($navy-black,0.25);
      -moz-box-shadow: 0px 0px 100px 0px rgba($navy-black,0.25);
      box-shadow: 0px 0px 100px 0px rgba($navy-black,0.25);
      background-image: url(../img/fireworks.svg);
      @media (prefers-color-scheme: dark) {
        background-image: url(../img/fireworks-darkmode.svg);
      }
      background-repeat: no-repeat;
      background-position: 90% 15%;
      @media screen and (max-width: 64em) {
        background-size: 50%;
      }
      @media screen and (max-width: 40em) {
        padding: 2rem;
      }
      .text{
        // font-family: $montserrat;
        color: $pure-white;
        p{
          padding: 0;
          margin: 0;
        }
        .minutes, .words{
          font-size: 5em;
          line-height: 0.9em;
          // font-weight: $montserrat-light;
          span{
            // font-weight: $montserrat-black;
          }
          @media screen and (max-width: 40em) {
            font-size: 3em;
          }
        }
        .minutes{
          span{
            color: #1CB0F6;
            @media (prefers-color-scheme: dark) {
              color: darken(#1CB0F6, 10%);
            }
          }
        }
        .words{
          span{
            color: #58CC02;
            @media (prefers-color-scheme: dark) {
              color: darken(#58CC02, 10%);
            }
          }
        }
        .sentance{
          font-size: 2em;
          line-height: 1.2em;
          // font-weight: $montserrat-black;
          margin-top: 0.5em;
          @media screen and (max-width: 40em) {
            font-size: 1.5em;
          }
        }
        .footnote{
          margin-top: 0.5em;
          @media screen and (max-width: 40em) {
            font-size: 0.8em;
          }
        }
      }
      .fireworks{

      }
    }
  }


  .leveled-up{
    margin-top: 10em;
    @media screen and (max-width: 64em) {
      font-size: 0.7em;
    }
    .icon-container{
      img{
        @media screen and (max-width: 40em) {
          max-width: 40%;
        }
      }
    }
    .words-container{
      padding: 0 2em;
      h2{
        // font-family: $montserrat;
        font-size: 8em;
        // font-weight: $montserrat-light;
        @media screen and (max-width: 64em) {
          line-height: 0.8em;
          margin-top: 0.2em;
          margin-bottom: 0.5em;
        }
      }
      p{
        // font-family: $montserrat;
        // font-weight: $montserrat-light;
        font-size: 2em;
        padding: 0;
        margin: 0;
        margin-top: -1em;
        padding: 0 0.3em;
        @media screen and (max-width: 40em) {
          line-height: 1.2em;
        }

      }
      .pill-container{
        margin-top: 0.5em;
        .pill{
          font-size: 1.2em;
          color: $pure-white;
          background-color: $navy-black;
          border-radius: 500px;
          display: inline-block;
          padding: 0.2em 0.6em;
          margin: 0.2em 0.1em;
          @media screen and (max-width: 64em) {
            font-size: 1.4em;
          }
          @media screen and (max-width: 40em) {
            margin: 0.2em 0.1em;
          }
        }
      }
    }
  }

  footer{
    background-image: url(../img/footergradient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    .logo{
      margin-top: -3.1em;
      float: right;
      img{
        height: 50px;
      }
      @media screen and (max-width: 64em) {
        width: 6em;
      }
      @media screen and (max-width: 40em) {
        width: 4em;
      }
    }
    h2{
      font-family: $lato;
      color: $pure-white;
      font-size: 18em;
      font-weight: $lato-thin;
      font-style: italic;
      line-height: 0.8em;
      @media screen and (max-width: 64em) {
        font-size: 10em;
      }
      @media screen and (max-width: 40em) {
        font-size: 6.4em;
      }
    }
    .text-section{
      @media screen and (max-width: 64em) {
        margin-top: 3em;
        margin-bottom: 3em;
      }
      @media screen and (max-width: 40em) {
        margin-top: 5em;
        margin-bottom: 5em;
      }
    }
  }


}
