footer{
  position: relative;
  padding: 15rem 0;
  color: semantic-color(text-inverted);
  font-family: $zilla;
  .text-section{
    z-index: 2;
    h2{
      font-weight: $zilla-medium;
      font-size: 9rem;
      span{
        display: block;
      }
    }
    p{
      padding: 0;
      margin: 0;
      margin-top: 1.1rem;
      font-weight: $zilla-light;
      font-size: 5rem;
      font-style: italic;
      letter-spacing: 2rem;
      line-height: 0.8;
    }
  }
  canvas{
    position: absolute;
    z-index: -1;
  }
}


footer{
  
  .logo{
    img{
      height: 50px;
    }
  }
  h2{
    color: $pure-white;
    font-size: 18em;
    line-height: 0.8em;
  }
}