footer{
  position: relative;
  padding: 15rem 0;
  color: semantic-color(text-inverted);
  font-family: $zilla;
  .text-section{
    z-index: 2;
    h2{
      font-weight: $zilla-medium;
      font-size: 9rem;
      color: $pure-white; //TODO use sematic color
      line-height: 0.8em;
      span{
        display: block;
      }
    }
    p{
      padding: 0;
      margin: 0;
      margin-top: 1.1rem;
      font-weight: $zilla-light;
      font-size: 5rem;
      font-style: italic;
      letter-spacing: 2rem;
      line-height: 0.8;
    }
  }
  .logo{
    #rehan-logo-footer{
      height: 50px;
      transition: $sprint;
      &:hover{
        transform: scale(1.1);
      }
      g{
        fill:$pure-white; //Changes the color of my logo inline
      }
    }
  }
  canvas{
    position: absolute;
    z-index: -1;
  }
}