.github{
  background-color: $navy-black-d6;
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-top: 14rem;
  margin-bottom: 14rem;
  .box-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(26, 1fr);
    gap: 1rem;
    .tile{
      border-radius: $tile-radius-medium;
      box-shadow: 0 0 20px 0 rgba($pure-black,0.50);
      &.code-stat{
        font-family: $source-code;
        padding: 2rem;
        font-size: 1.5em;
        &-small{
          padding: 1rem;
          font-size: 1em;
        }
        p{
          padding: 0;
          margin: 0;
          color: $pure-white;
          line-height: 1;
          &.number{
            font-size: 2em;
            font-weight: $source-code-bold;
          }
        }
      }
    }
    .intro{
      background: linear-gradient(#AD4CC7,#54287F);
      color: $pure-white;
      grid-column: 1 / 7;
      grid-row: 1 / 7;
      aspect-ratio: 1 / 1;
      padding: 4rem;
      h2{
        font-weight: $zilla-bold;
        line-height: 1;
        span{
          font-family: $caveat;
          font-weight: $caveat-bold;
          display: block;
        }
      }
    }
    .commits{
      background-color: #0869DA;
      grid-column: 7 / 10;
      grid-row: 1 / 4;
    }
    .code-reviews{
      // background-color: #F2994A;
      background-color: #BF3889;
      // grid-column: 10 / 12;
      // grid-row: 1 / 3;
      grid-column: 11 / 13;
      grid-row: 3 / 5;
    }
    .issues{
      background-color: #2EA44E;
      grid-column: 5 / 7;
      grid-row: 7 / 9;
    }
    .contributions{
      grid-column: 7 / 12;
      grid-row: 5 / 7;
      color: $pure-white;
      align-self: end;
      h3{
        font-family: $source-code;
        font-weight: $source-code-bold;
        line-height: 1;
        margin-bottom: 0;
        span{
          font-size: 1.5em;
        }
      }
    }
    .pull-requests{
      background-color: #CF212E;
      grid-column: 10 / 13;
      grid-row: 8 / 11;
    }
    .first-update{
      background-color: $navy-black;
      color: $pure-white;
      padding: 4rem;
      grid-column: 1 / 7;
      grid-row: 11 / 17;
      font-family: $source-code;
      h3{
        font-family: $source-code;
        font-weight: $source-code-bold;
        line-height: 1;
      }
      .commit-change{
        font-family: $source-code;
        font-weight: $source-code-bold;
        text-align: right;
        font-size: 1.5em;
        .plus{
          color: #2EA44E;
        }
        .minus{
          margin-left: 0.5em;
          color: #CF212E;
        }
      }
      .details{
        font-size: 1.5em;
        p{
          padding: 0;
          margin: 0;
          line-height: 1;
        }
        .link-wrapper{
          margin-bottom: 0.5em;
          a{
            &:hover{
              .metadata{
                background-color: #8250DF;
              }
            }
            .metadata{
              font-weight: $source-code-bold;
              color: $pure-white;
              border-radius: $pill-radius;
              padding-inline-end: 0.3em;
              transition: $sprint;
              p{
                margin-left: 0.25em;
              }
            }
          }
        }
      }
    }
    .top-lang-header{
      color: $pure-white;
      grid-column: 2 / 8;
      grid-row: 18 / 22;
      align-self: end;
      font-size: 2em;
      h3{
        font-family: $source-code;
        font-weight: $source-code-bold;
        line-height: 1;
        margin-bottom: 0;
        span{
          display: inline-block;
          img{
            margin-left: 0.15em;
          }
        }
      }
    }
    .top-lang{
      color: $pure-white;
      padding: 1rem;
      p{
        padding: 0;
        margin: 0;
        font-family: $source-code;
        font-weight: $source-code-bold;
        font-size: 2em;
        text-transform: uppercase;
      }
      &.lang-scss{
        background-color: #B34B7E;
        grid-column: 10/12;
        grid-row: 18/20;
      }
      &.lang-js{
        background-color: #D9C951;
        grid-column: 8/10;
        grid-row: 20/22;
      }
      &.lang-html{
        background-color: #C94421;
        grid-column: 10/12;
        grid-row: 20/22;
      }
    }
    .top-repo{
      background: linear-gradient(90deg, #2A3D58,#1F2937);
      grid-column: 3/13;
      grid-row: 23/27;
      color: $pure-white;
      padding: 4rem;
      font-family: $source-code;
      h3{
        font-family: $source-code;
        font-weight: $source-code-bold;
        font-size: 2.5em;
        line-height: 1;
        margin-bottom: 0;
        span{
          font-size: 1.5em;
        }
      }
      .repo-list{
        .link-wrapper{
          text-align: right;
          &:not(:last-of-type){
            margin-bottom: 0.5em;
          }
          a{
            color: $pure-white;
            margin: 0;
            padding: 0.25em 0.4em;
            border-radius: 10px;
            text-align: right;
            line-height: 1;
            font-weight: $source-code-bold;
            transition: $sprint;
            &:hover{
              background-color: rgba($pure-white,0.2);
            }
          }
        }
      }
    }
  }
}