body, html {
  overflow-x: hidden;
}

.movie{
  position: relative;
  .popcorn{
    position: absolute;
    z-index: 2; 
    &-1{
      right: 0;
      bottom: -6em;
      width: 10em;
    }
    &-2{
      left: -6em;
      top: -4em;
      width: 8em;
    }
    &-3{
      right: -3em;
      top: -3em;
      width: 10em;
    }
  }
  .movie-ticket{
    position: absolute;
    bottom: -3em;
    right: -3em;
    transform: rotate(10deg);
    z-index: 2;
  }
}

.film{
  padding: 1rem;
  border-radius: 20px;
  overflow: hidden;
  background-color: $pure-white;
  min-height: 20em;
  &.feature-number{
    background: linear-gradient(-45deg,#A5FF36,#33D5FF);
    font-family: $big-shoulders;
    // margin: auto;
    p{
      margin: 0;
      padding: 0;
      line-height: 1;
      font-size: 4em;
    }
    .number{
      font-weight: $big-shoulders-black;
      font-size: 9em;
    }
  }
  &.rewatch{
    background: linear-gradient(180deg,#D10000,#480000);
    font-family: $big-shoulders;
    color: $pure-white;
    position: relative;
    overflow: hidden;
    .fas{
      position: absolute;
      top: 0.5rem;
      right: -6rem;
      font-size: 20em;
      opacity: 20%;
    }
    p{
      margin: 0;
      padding: 0;
      line-height: 1;
      font-size: 4em;
    }
    .number{
      font-weight: $big-shoulders-black;
      font-size: 9em;
    }
  }
  &.infinity-saga{
    background: linear-gradient(-45deg,rgba(#12131F,0.8),rgba(#2C1141,0.8),rgba(#04055D,0.8)), url("/img/comic-pattern.png") no-repeat center center;
    background-size: cover;
    font-family: $big-shoulders;
    color: $pure-white;
    text-align: center;
    h2{
      font-family: $big-shoulders;
      font-weight: $big-shoulders-black;
      font-size: 5em;
      line-height: 1;
      span{
        display: block;
        font-size: 0.5em;
        font-weight: $big-shoulders-regular;
        line-height: 1;
        letter-spacing: 0.05em;
      }
    }
    .dots{
      margin-top: 1rem;
      margin-bottom: 1rem;
      div{
        aspect-ratio: 1/1;
        width: 15px;
        border-radius: $pill-radius;
        &:nth-of-type(1){
          background-color: #00CA05;
        }
        &:nth-of-type(2){
          background-color: #D51FFF;
        }
        &:nth-of-type(3){
          background-color: #0881B8;
        }
        &:nth-of-type(4){
          background-color: #FF141E;
        }
        &:nth-of-type(5){
          background-color: #FF9600;
        }
        &:nth-of-type(6){
          background-color: #FFD500;
        }
      }
    }
    p{
      margin: 0;
      padding: 0;
      line-height: 1.2;
      font-size: 1.5em;
      span{
        font-weight: $big-shoulders-black;
      }
    }
  }
}

.punch-container{
  display: inline-flex;
  justify-content: space-between;
  min-height: 4rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 100%;
  .punch{
    background-color: $pure-white;
    width: 10%;
    border-radius: 10px;
  }
}

.trigger {
  position: absolute;
  &--one {
    left: 0;
  }
}

 .scene {
    position: absolute;
    height: 100vh;
    top: 0;
    left: -14vw; //todo adjust for start shift
    right: 0;
    transform: rotate(-5deg);
    &--active {
      position: fixed;
    }
    &--ended {
      position: absolute;
      bottom: 0;
      top: auto;
    }
    // .overflow{
    //   position: absolute;
    //   right: -40vw;
    //   top: 0;
    // }
  }

.horizontal-scroll-section {
  position: relative;
  // background-color: silver;
  &__content {
    display: flex;
    align-items: center;
    &-wrapper {
      display: flex;
      height: 100%;
      align-items: center;
      position: relative;
      // background: lightgreen;
    }
    &-section {
      position: relative;
      padding: 1rem 2rem;
      // min-width: 40vw;
      min-width: 40rem;
      background: $pure-black;
      box-shadow: $pure-black $recessed-shadow;
    }
  }
}