.shine-registry{
  margin-top: 15rem;
  margin-bottom: 6rem;
  .shine-container{
    overflow: hidden;
    position: relative;
    border-radius: 40px;
    padding: 4rem 4rem;
    background-color: #FFE6BA;
    font-family: $zilla;
    font-size: 3rem;
    line-height: 3.2rem;
    min-height: 50rem;
    -webkit-box-shadow: 0px 0px 100px 0px rgba($navy-black,0.25);
    -moz-box-shadow: 0px 0px 100px 0px rgba($navy-black,0.25);
    box-shadow: 0px 0px 100px 0px rgba($navy-black,0.25);
    @media (prefers-color-scheme: dark) {
      background-color: mix(#FFE6BA, $navy-black, 10%);
    }
    @media screen and (max-width: 64em) {
      min-height: 40rem;
      font-size: 2rem;
      line-height: 2.2rem;
    }
    @media screen and (max-width: 40em) {
      min-height: 25rem;
      padding: 2rem;
    }
    .label-container{
      z-index: 2;
      .description{
        margin-top: 1rem;
        font-weight: $zilla-regular;
        span{
          font-weight: $zilla-bold;
        }
        a{
          color: $navy-black;
          @media (prefers-color-scheme: dark) {
            color: $pure-white;
          }
        }
      }
    }
    .image-container{
      position: absolute;
      z-index: 3;
      width: 45%;
      border-radius: 20px;
      overflow: hidden;
      -webkit-box-shadow: 0px 0px 20px 0px rgba($navy-black,0.25);
      -moz-box-shadow: 0px 0px 20px 0px rgba($navy-black,0.25);
      box-shadow: 0px 0px 20px 0px rgba($navy-black,0.25);
      @media screen and (max-width: 64em) {
        border-radius: 10px;
      }
    }
    .shine-1{
      transform: rotate(15deg);
      top: 6rem;
      right: 12rem;
      @media screen and (max-width: 64em) {
        top: 6rem;
        right: 6rem;
      }
      @media screen and (max-width: 40em) {
        top: 13rem;
        right: 3rem;
      }
    }
    .shine-2{
      transform: rotate(-15deg);
      top: 22rem;
      left: 12rem;
      @media screen and (max-width: 64em) {
        top: 16rem;
        left: 6rem;
      }
      @media screen and (max-width: 40em) {
        top: 15rem;
        left: 3rem;
      }
    }
    .blue-blob, .peach-blob, .brick-blob{
      z-index: 1;
      @media screen and (max-width: 64em) {
        max-width: 30%
      }
      @media screen and (max-width: 40em) {
        max-width: 40%
      }
    }
    .blue-blob{
      position: absolute;
      top: -20%;
      left: 50%;
    }
    .peach-blob{
      position: absolute;
      bottom: 10%;
      left: -10%;
    }
    .brick-blob{
      position: absolute;
      right: -10%;
      bottom: 15%;
    }
  }
}