.website{
  background-color: semantic-color(joined-card-bg);
  border-radius: 50px;
  padding: 3rem;
  margin-block-start: 40em;
  .elderberry-card{
    margin-block-start: -20em;
    background: url('/img/elderberry-texture.png') repeat, linear-gradient(45deg,#ED5D6B, #571A9D);
    background-blend-mode: color-burn;
    border-radius: $tile-radius-big;
    text-align: center;
    padding: 4rem;
    position: relative;
    overflow: hidden;
    h2,h3{
      font-family: $caveat;
      color: $pure-white;
      position: relative;
      z-index: 2;
    }
    h2{
      font-weight: bold;
      font-size: 12rem;
      line-height: 0.6;
      margin-top: 4rem;
      text-shadow: 0 0 1em $pure-black;
    }
    h3{
      font-size: 3rem;
    }
    .icon-wrapper{
      margin-top: 2rem;   
      .feature-icon-container{
        background-color: rgba($pure-white,0.2);
        border-radius: $pill-radius;
        max-width: 130px;
        aspect-ratio: 1/1;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        i{
          color: $pure-white;
        }
      }
    }
    .elderflower{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 30%;
    }
    .elderflower-left{
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .elderflower-right{
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .home-sweet-home{
    position: relative;
    overflow: hidden;
    border-radius: $tile-radius-big;
    text-align: center;
    .content{
      padding: 6rem;
      padding-top: 4rem;
      position: absolute;
    }
    h2,h3{
      font-family: $caveat;
      background: -webkit-linear-gradient(45deg,#ED5D6B, #571A9D);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h2{
      font-weight: $caveat-bold;
      font-size: 8rem;
    }
    h3{
      padding-left: 8rem;
      padding-right: 8rem;
      line-height: 0.8;
      // TODO fix line height clipping issue for the Y
    }
  }
  .hero-card{
    background-color: semantic-color(hero-card-bg);
    color: semantic-color(text-inverted);
    border-radius: $tile-radius-big;
    position: relative;
    margin-bottom: 0;
    .text-content{
      padding: 4rem;
    }
    h3{
      font-family: $zilla;
      font-weight: $zilla-bold;
      font-size: 5em;
      line-height: 0.8;
      margin-bottom: 0.5em;
    }
    .description{
      font-size: 2em;
      line-height: 1.2;
      padding: 0;
      margin: 0;
    }
    .easter-egg{
      font-family: $caveat;
      font-size: 1.5em;
      line-height: 1.2;
      padding: 0;
      margin: 0;
      border-radius: 10px;
      // display: inline-block;
      img{
        display: none;
        position: absolute;
        bottom: 4em;
        left: 4em;
        border-radius: $tile-radius;
        transform: rotate(7deg) scale(0.8);
        box-shadow: $recessed-shadow $pure-black;
      }
      &:hover{
        cursor: pointer;
        // background-color: rgba($pure-white,0.2);
        img{
          display: block;
        }
      }
    }
  }
}